<!DOCTYPE html>
<html ng-app="TwitterApp">
<head>
  <title>TwitterListener</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all'%>
	<!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag 'application'%>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <meta name="twitter:widgets:link-color" content="#cc0000">
	<meta name="twitter:widgets:theme" content="dark">
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<%= render 'layouts/header'%>

	<%= yield %>

	</div>
</body>
</html>
